@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');
button{
    background-color: #74865C;
    border-radius: 15%;
    padding: 20px 70px;
    cursor: pointer;
    font-family: 'Lora', serif; 
    color: white; 
    letter-spacing: 6px;
    font-size: larger;
    font-weight: bold;
    border:none;
}