@import url('https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap');
body {
  background: linear-gradient(to bottom, #E7DBB5 0%, #FFFFFF 100%);
}



.card-shuffle-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  min-height: 100vh; 

 

  .container {
    position: absolute; 
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    position: absolute;
    width: 80px;
    height: 120px;
    top: 50%;
    left: 50%;
    transform: translate(-100%, -100%);
    transition: all 1.5s ease-in-out;
    cursor: pointer;

    &.shuffled {
      &:nth-child(-n + 12) {
        top: 38%;
        left: calc(55% - 130px + (var(--index) * 63px));
      }

      &:nth-child(n + 13) {
        top: 63%;
        left: calc(40% - 350px + ((var(--index) - 11) * 63px));
      }
    }

    &.selected {
      transform: translateY(-30%) translateX(0);
      z-index: 10;
    }
  }

  .shuffle-btn {
    position: absolute;
    bottom: 100px;       
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    z-index: 20;  
    margin-left: 0;

  }
}


.card-shuffle-wrapper h3 {
  position: absolute;
  top: 80px;               
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0 1rem;
  text-align: center;
  font-family: 'Uncial Antiqua', serif;
  font-weight: bold;
  letter-spacing: 4px;     
  z-index: 5;               
}
